.container{
    display: grid;
    grid-template-rows: 66px 1fr 75px;
}
header{
    display: grid;
    grid-template: 50px/1fr 25%;
    margin-block-end: 1em;
    justify-content: center;
}
    h1{
        justify-self: left;
        align-self: center;
        margin-left: 2%;
    }
    .section_links{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

.portrait{
    display: grid;
    border: solid rgb(46, 46, 46);
    border-radius: 100px;
    width: 200px;
}

.about_me{
    display: flex;
}