
*{
    line-height: 1.5em;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} 
html{
    font-size: 16pt;
    margin-top: 2em;
}

header,
main,
footer{
    margin: 0 auto;
    max-width: 900px;
}
header{
    padding: 3em;
}
/*
h1{
    justify-self: center;
}

.about_me{
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    width: 100% auto;
}
.projects{
    display: flex;
}
footer{
    display: grid;
    grid-template: 50px/1fr ;
}
*/
nav{
    position: fixed;
    top: 3px;
    left: 5px;
    right: 5px;
    padding: 0 auto;
    

    display: flex;
    justify-content: center;
    align-items: center;
}
nav a{
    padding: 0.5em 2em;
}

