body{
    font-family: 'Thasadith', sans-serif;
    background-color: #ccc;
}
html{
    color: #cfc;
}
h1, h2, h3{
    font-weight: 700;
    letter-spacing: 1px;
    color: #cfc;
}
a{
    color: #cfc;
    text-decoration: none;
}
nav{
    font-size: 18pt;
    border-bottom-left-radius:  15px;
    border-bottom-right-radius: 15px;
}
nav a:hover{
    text-decoration: underline;
}
nav,
header,
main,
footer{
    background-color: #2E2E2E;
}
header,
main{
    border-radius: 15px;
}
.portrait{
    border-radius: 50%;
    width: 20vw;
    max-width: 250px;

}
footer{
    border-top-left-radius:  15px;
    border-top-right-radius: 15px;
}
h3{
    color: #cfc;
}
.projects h4,h5{
    color: #2e2e2e;
}

.detail{
    padding: 2px;
    padding-right: 3px;
    padding-left: 3px;
    border-radius: 5px;
    font-family: 'Thasadith', sans-serif;
    font-size: 16px;
    color: #cfc;
    background-color: #2E2E2E;
}