body{
    font-family: 'Thasadith', sans-serif;
    background-color: #cccccc;
}
h1{
    font-size: 40pt;
    font-weight: 700;
    letter-spacing: 1px;
    color: #2E2E2E;
}
nav a{
    color: #ccffcc;
    text-decoration: none;
}
.section_links{
    font-size: 18pt;
}
nav a:hover{
    text-decoration: underline;
}
header{
    background-color: #2E2E2E;
    border-radius: 6px;
}
.portrait{
    border: solid #2E2E2E;
}